body {
    font-family: Arial, sans-serif;
    background-image: url(OIG3.bF.WUcq9MzN_upscayl_3x_realesrgan-x4plus-anime.png);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 15px;
    
}

button {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

button:hover {
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.signup-link {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: #96af4c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0; 
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider span {
    padding: 0 10px;
    color: #777;
    font-size: 20px;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #fffbfb;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 45px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.facebook-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #fffbfb;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 45px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.facebook-btn:hover {
    align-self: center;
    background-color: #f1f1f1;
    padding: 0.5rem;
}

.facebook-btn img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.google-btn:hover {
    align-self: center;
    background-color: #f1f1f1;
    padding: 0.5rem;
}


.google-btn img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    font-size: 15px;
    z-index: 100;
}

.footer p {
    margin: 0;
    margin-left: 5px;
    text-align: left;
}

.footer-logo {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: auto;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 1px;
}