* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(OIG3.bF.WUcq9MzN_upscayl_3x_realesrgan-x4plus-anime.png);
    background-size: cover;
    background-color: black;
    background-position: center;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-logo {
    position: fixed;
    height: 45px;
    width: auto;
    object-fit: contain;
    border-radius: 50%;
}
.signup form {
    display: flex;
    flex-direction: column;
}

.form-section {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #666;
}

input {
    margin-bottom: 1rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-top: 10px;
}

button {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
button:hover {
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.image-section {
    flex: 1;
    background-image: url(OIG1_upscayl_3x_realesrgan-x4plus-anime.png);
    background-size: cover;
    background-position: center;
    margin-left: 35px;
    border-radius: 45px;
    border: #00f2fe;
    border: 5px solid #ccc;
}