* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(OIG3.bF.WUcq9MzN_upscayl_3x_realesrgan-x4plus-anime.png);
    background-size: cover;
    background-color: black;
    background-position: center;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-logo {
    position: fixed;
    height: 45px;
    width: auto;
    object-fit: contain;
    border-radius: 50%;
}
.signup form {
    display: flex;
    flex-direction: column;
}

.form-section {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #666;
}

input {
    margin-bottom: 1rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #45a049;
}

